.contact-inf {
  padding-bottom: 100px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

@media screen and (min-width: 768px) {
  .contact-inf {
    flex-direction: row;
  }
}

.contact-subtitle {
  font-size: 21px;
  line-height: 2.52;
}

.contact-text {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 18px;
  font-weight: var(--fw-regular);
  line-height: 2.52;
}

.address-text:hover,
.address-text:focus {
  color: var(--accent-color);
}

.contact-text::before {
  content: "";
  width: 18px;
  height: 9px;
  border-radius: 0px 50px;
  display: block;
  background-color: var(--accent-color);
}

.social-list {
  margin-top: 40px;
  display: flex;
  gap: 20px;
}

.social-item {
  transition: transform 0.25s linear;
}

.social-item:hover,
.social-item:focus {
  transform: scale(1.1);
}

.contact-img {
  width: 350px;
  border-radius: 15px;
}

@media screen and (min-width: 768px) {
  .contact-img {
    width: 420px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-img {
    width: 510px;
  }
}
