.header {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
}

@media screen and (min-width: 768px) {
  .logo {
    width: 120px;
    margin-right: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    width: 150px;
    margin-right: 100px;
  }
}

.nav-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    gap: 43px;
    font-size: 12px;
    font-weight: var(--fw-regular);
    line-height: 1.89;
  }
}

@media screen and (min-width: 1200px) {
  .nav-list {
    gap: 50px;
    font-size: 14px;
  }
}

.nav-item:hover,
.nav-item:focus {
  color: var(--accent-color);
}

.header-btn {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-btn {
    display: flex;
    gap: 10px;
    align-items: center;
    height: 34px;
    padding: 0 40px;
    border-radius: 3px;
    font-size: 13px;
    font-weight: var(--fw-semibold);
    line-height: 1.82;
    background-color: var(--accent-color);
    fill: var(--white-color);
  }
}

@media screen and (min-width: 1200px) {
  .header-btn {
    height: 36px;
    padding: 0 60px;
  }
}

.header-btn:hover,
.header-btn:focus {
  background-color: var(--white-color);
  fill: var(--accent-color);
  color: var(--accent-color);
}

/* .burger-menu {
  display: block;
}

@media screen and (min-width: 768px) {
  .burger-menu {
    display: none;
  }
} */

.burger-menu {
  display: none;
}
