.hero {
  height: 600px;
  max-width: 1200px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../images/sections_img/hero.webp);
}

.hero-text {
  padding-top: 289px;
  text-align: center;
  font-size: 27px;
}

@media screen and (min-width: 768px) {
  .hero-text {
    font-size: 35px;
  }
}

.main-title {
  height: 60px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 45px;
  font-size: 42px;
  line-height: 5.88;
}

.main-title::before,
.main-title::after {
  content: "";
  width: 28px;
  height: 14px;
  display: block;
  background-color: var(--accent-color);
}

.main-title::before {
  border-radius: 0px 50px;
}

.main-title::after {
  border-radius: 50px 0px;
}

.about-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

@media screen and (min-width: 768px) {
  .about-container {
    flex-direction: row;
  }
}

.about-text {
  max-width: 800px;
  height: 483px;
  padding: 50px;
  background: linear-gradient(
      0deg,
      rgba(1, 138, 190, 0.5) 0%,
      rgba(1, 138, 190, 0.5) 100%
    ),
    #8e8e8e;

  font-size: 14px;
  font-weight: var(--fw-light);
  line-height: 1.96;
}

@media screen and (min-width: 768px) {
  .about-text {
    font-size: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .about-text {
    font-size: 20px;
  }
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}

.projects-item {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.projects-img {
  height: 280px;
  border-radius: 15px;
}

.projects-title {
  font-size: 20px;
}

.projects-text {
  font-size: 13px;
  font-weight: var(--fw-light);
}
